:root {
  --dark-blue: rgb(11, 13, 23);
  --light-blue: rgb(208, 214, 249);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.4rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.4rem;
  position: relative;
}

.nav__hamburger,
.nav__close {
  cursor: pointer;
}

.nav__close {
  display: none;
}

.nav__item {
  list-style: none;
  text-decoration: none;
  margin-bottom: 3.2rem;
}

.nav__item a {
  padding: 2rem 0;
  text-decoration: none;
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
.nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 10rem;
  right: -24px;
  top: -24px;
  background-color: rgba(11, 13, 23, 0.5);
  padding: 13.3rem 3.2rem 3.2rem 3.2rem;
  backdrop-filter: blur(25px);
  height: 100vh;
  z-index: -11;
  display: none;
}

.nav__active {
  display: flex;
}

.nav__menu {
  z-index: 23;
}

.item__bold {
  font-weight: 700;
  margin-right: 5px;
}

.active-page {
  border-bottom: 5px solid var(--white);
  /* padding-bottom: 3.2rem; */
}

/* Typography */

.text-1 {
  font-family: "Bellefair", serif;
  font-size: 8rem;
  text-transform: uppercase;
}

.text-2 {
  font-family: "Bellefair", serif;
  font-size: 5.6rem;
}

.text-3 {
  font-size: 2.4rem;
  font-family: "Bellefair", serif;
}

.text-4 {
  font-family: "Bellefair", serif;
  font-size: 1.8rem;
}

.text-6 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
}

.text-8 {
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
}

.text-9 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__text {
  text-align: center;
}

.home__subheading {
  text-transform: uppercase;
  color: var(--light-blue);
  margin: 2.4rem 0;
  letter-spacing: 3px;
}

.home__heading {
  margin-bottom: 3rem;
}

.home__message {
  color: var(--light-blue);
  line-height: 1.7;
}

.home__explore {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 14.4rem;
  width: 14.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  transition: all 0.35s;
  margin: 11.9rem 0;
}

.home__explore:hover {
  box-shadow: 0 0 0 4rem rgba(255, 255, 255, 0.5);
}

.active-link {
  border-bottom: 3px solid var(--white);
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
    padding: 0;
  }

  .nav {
    padding: 0;
  }

  .nav__close,
  .nav__hamburger {
    display: none;
  }

  .nav__logo {
    padding: 2.4rem 4rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(25px);
    padding: 3.85rem 0;
    align-items: center;
    right: 0;
    left: 130px;
    top: 0px;
    justify-content: space-around;
  }

  .nav__item {
    margin: 0;
  }

  .active-page {
    border-bottom: 3px solid var(--white);
  }

  .active-page .item__bold {
    display: none;
  }

  .home__container {
    padding: 12.8rem;
  }

  .home__subheading {
    font-size: 2.8rem;
  }

  .home__heading {
    font-size: 14.4rem;
  }

  .home__message {
    font-size: 1.6rem;
  }

  .home__explore {
    font-size: 3.2rem;
    height: 27.2rem;
    width: 27.2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("/assets/home/background-home-desktop.jpg");
    padding-top: 4rem;
  }

  .nav {
    justify-content: space-between;
  }

  .nav__list {
    padding-left: 18.9rem;
    padding-right: 6.4rem;
    position: static;
    gap: 5rem;
  }

  .home__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    margin-left: 16.5rem;
    margin-top: 12.8rem;
    align-self: stretch;
  }

  .home__text {
    text-align: left;
  }

  /* .home__explore,
  .home__text {
    flex: 1;
  } */

  .home__explore {
    width: 272px;
    height: 272px;
    margin-left: 20rem;
  }

  .active-page .item__bold {
    display: inline;
  }

  .home__message {
    font-size: 1.8rem;
  }
}
