body {
  background-image: url(../technology/background-technology-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

body,
.technology__container,
.tech__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  padding: 2.4rem;
}

.tech__text,
.tech__header,
.tech__links {
  padding: 0 2.4rem;
}

.tech__header {
  text-transform: uppercase;
  margin: 2.4rem 0;
  color: var(--white);
  font-family: "Barlow Condensed";
  font-size: 1.6rem;
  letter-spacing: 2.4px;
}

.non__bold {
  color: var(--light-blue);
  margin-right: 2.4rem;
}

.tech__img-land {
  display: none;
}

.tech__img-port {
  width: 100%;
  margin: 6.4rem 0 3.2rem;
}

.tech__links {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.tech__link {
  text-decoration: none;
  font-family: "Bellefair";
  font-size: 1.8rem;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-tech {
  background-color: white;
  color: var(--dark-blue);
  border: none;
}

.tech__text {
  text-align: center;
}

.tech__heading {
  text-transform: uppercase;
  color: var(--light-blue);
  font-family: "Bellefair";
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.tech__type {
  text-transform: uppercase;
  font-family: "Bellefair";
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.tech__explanation {
  font-family: "Barlow";
  font-size: 1.5rem;
  line-height: 2.7rem;
  color: var(--light-blue);
  margin-bottom: 4.8rem;
}
