body {
  background-image: url(../technology/background-technology-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

body,
.technology__container,
.tech__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  padding: 2.4rem;
}

.tech__text,
.tech__header,
.tech__links {
  padding: 0 2.4rem;
}

.tech__header {
  text-transform: uppercase;
  margin: 2.4rem 0;
  color: var(--white);
  font-family: "Barlow Condensed";
  font-size: 1.6rem;
  letter-spacing: 2.4px;
}

.non__bold {
  color: var(--light-blue);
  margin-right: 2.4rem;
}

.tech__img-land {
  display: none;
}

.tech__img-port {
  width: 100%;
  margin: 6.4rem 0 3.2rem;
}

.tech__links {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.tech__link {
  text-decoration: none;
  font-family: "Bellefair";
  font-size: 1.8rem;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
}

.active-tech {
  background-color: white;
  color: var(--dark-blue);
  border: none;
}

.tech__link:hover {
  background-color: white;
  color: var(--dark-blue);
  border: none;
}

.tech__text {
  text-align: center;
}

.tech__heading {
  text-transform: uppercase;
  color: var(--light-blue);
  font-family: "Bellefair";
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.tech__type {
  text-transform: uppercase;
  font-family: "Bellefair";
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.tech__explanation {
  font-family: "Barlow";
  font-size: 1.5rem;
  line-height: 2.7rem;
  color: var(--light-blue);
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../technology/background-technology-tablet.jpg);
  }

  .nav {
    padding: 0;
  }

  .tech__text,
  .tech__header,
  .tech__links {
    padding: 0 4rem;
  }

  .tech__img-land {
    display: block;
    width: 100%;
    margin-top: 6.4rem;
    margin-bottom: 3.2rem;
  }

  .tech__img-port {
    display: none;
  }

  .tech__header {
    align-self: flex-start;
    font-size: 2rem;
    margin-top: 4rem;
  }

  .tech__link {
    height: 5.6rem;
    width: 5.6rem;
    font-size: 2.4rem;
  }

  .tech__heading {
    font-size: 2.4rem;
  }

  .tech__type {
    font-size: 4rem;
  }

  .tech__explanation {
    padding: 0 8.8rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../technology/background-technology-desktop.jpg);
  }

  .technology__container {
    padding-left: 16.5rem;
  }

  .tech__content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
  }

  .tech__text,
  .tech__header,
  .tech__links,
  .tech__explanation {
    padding: 0;
  }

  .tech__img-land {
    display: none;
    margin: 0;
  }

  .tech__img-port {
    display: block;
    width: 100%;
    margin: 0;
  }

  .tech__links {
    flex-direction: column;
    order: 1;
    margin-right: 6.4rem;
  }

  .tech__link {
    font-size: 3.2rem;
    height: 8rem;
    width: 8rem;
  }

  .tech__text {
    order: 2;
    text-align: left;
    margin-right: 3.2rem;
  }

  .tech__images {
    order: 3;
    width: 100%;
  }

  .tech__header {
    font-size: 2.8rem;
  }

  .tech__heading {
    font-size: 3.2rem;
  }

  .tech__type {
    font-size: 5.6rem;
  }

  .tech__explanation {
    font-size: 1.8rem;
  }
}
